<h1><%= link_to "Itemtype", itemtypes_path %>: <%= params['id'] %></h1>

<!-- <h2>Properties Facet</h2>

<%#= render :partial => 'facet', :locals => {:facet => @properties} %>

<hr> 

<h2>Names Facet</h2>
<%#= render :partial => 'facet', :locals => {:facet => @names} %>

<hr> -->

<p>Count: <%= @results.total %></p>

<ul id="page_results">
  <% @results.each_with_hit do |page,hit| %>
    <li>
      <%#= debug hit %>
      <%= link_to page.id, page.id, target: '_blank' %> 
      
      <% if hit['_source']['microdata']['items'].first['properties']['name'] %>
        <div>
          <%= hit['_source']['microdata']['items'].first['properties']['name'].join(' | ') %>
        </div>
      <% end -%>
      <% if hit['_source']['microdata']['items'].first['properties']['thumbnailUrl'] %>
        <div>
          <%= image_tag hit['_source']['microdata']['items'].first['properties']['thumbnailUrl'].first, :width => 300 %>
        </div>
      <% elsif hit['_source']['microdata']['items'].first['properties']['image'] %>
        <div>
          <%= image_tag hit['_source']['microdata']['items'].first['properties']['image'].first, :width => 300 %>
        </div>
      <% end -%>

<%= coderay(JSON.pretty_generate(hit['_source']['microdata'])).html_safe %>


    </li>
  <% end -%>
</ul>

<%= link_to 'next page', itemtype_path(params['id'], :page => @page + 1) %>


